.footer {

  border-top: .2rem solid $color-scarlet;

  .notice {
    font-size: $size-7;
  }

  h1, h2 {
    @extend .is-size-6;
    font-family: $family-sans-serif;
    color: $color-solitude;
  }

  h1 {
    @extend .has-text-weight-bold;
  }

  h2 {
    opacity: .8;
    @extend .has-text-weight-semibold;
  }

  ul {
    list-style: none;
  }

  hr {
    border: .1rem solid $color-scarlet;
    width: $size-1;
  }
}
