*~
build/
.DS_Store

CMakeFiles/
CMakeCache.txt

# website
_site/
Gemfile.lock
yarn.lock
node_modules/

# Vim
Session.vim
.netrwhist
# swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Linux
.Trash-*
.nfs*
