target/
a.out

# Rust and Cargo
**/*.rs.bk

# Python
__pycache__/
*.py[cod]
*$py.class

# Website
.sass-cache/
static/css/
node_modules/

# Editors
Session.vim
.netrwhist
*~
tags
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
.save

# System specific
.DS_Store
.Trash-*
.nfs*
