@import "../../node_modules/bulma/sass/utilities/initial-variables";

$family-sans-serif: "Montserrat", "Futura", "Helvetica Neue", sans-serif;
$family-monospace: "Inconsolata", "Monaco", monospace;
$family-serif: "Merriweather", "Droid Sans", "Baskerville", serif;

$family-primary: $family-sans-serif;

@import "../../node_modules/bulma/bulma";
