$black:	#000;
$white: #FFF;

$color-gunmetal: #2A3439;
$color-solitude: #EFF3F4;

$color-scarlet: #E41300;
$color-hollywood-cerise: #F400A1;
$color-gold: #EED200;
$color-deep-magenta: #C300C3;
$color-electric-indigo: #6F00FF;
$color-prussian-blue: #003153;

$colors: ("white": ($white, $black));
