name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always
  # This is faster for CI: https://github.com/dtolnay/rust-toolchain/issues/26.
  CARGO_INCREMENTAL: "0"

jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v3
      - uses: rui314/setup-mold@v1
      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.13.0
      - name: Install backend dependencies
        run: sudo apt-get update && sudo apt-get install -y z3
      - name: Install qbe
        run: |
          curl -fsSL https://c9x.me/compile/release/qbe-1.2.tar.xz -o /tmp/qbe-1.2.tar.xz
          tar -xf /tmp/qbe-1.2.tar.xz -C /tmp
          make -C /tmp/qbe-1.2
          sudo make -C /tmp/qbe-1.2 install
      - name: Install Rust
        run: rustup show && rustup install nightly && rustup component add rustfmt --toolchain nightly-x86_64-unknown-linux-gnu # Nightly is needed for our configuration of cargo fmt
      - run: cargo check --all-targets --all-features
      - run: cargo test --all-targets --all-features
